.flex {
  display: flex;
}

.flex.space-between {
  justify-content: space-between;
}

.flex.justify-center {
  justify-content: center;
}

.flex.justify-start {
  justify-content: start;
}

.flex.justify-end {
  justify-content: end;
}

.flex.align-center {
  align-items: center;
}

.flex.column {
  flex-direction: column;
}

.clean-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.hidden {
  display: none;
}
