.gallery-page label {
    width: 200px;
    margin: 0;
}

.gallery-page main {
    text-align: center;
}

.images-container,
.memes-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 0.9375rem;
    padding-bottom: 2.5rem;
    padding-top: 2.5rem;
    padding-inline-start: 1rem;
    padding-inline-end: 1rem;
    justify-content: center;
}

.images-container {
    min-height: 30rem;
}

.meme-img {
    border-radius: 1.25rem;
    cursor: pointer;
}

.meme-img:hover {
    opacity: 70%;
    outline: 2px solid whitesmoke;
}

.memes-container H1 {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    color: var(--clr-active-txt);
}