.gallery-page,
.saved-memes {
    background-color: var(--clr-container-bcg);
    border-radius: 30px;
    min-height: 80vh;
}

.gallery-page label {
    width: 200px;
    margin: 0;
}

.gallery-page main {
    text-align: center;
}

.trans-btn-container {
    margin-block-end: 1rem;
    margin-block-start: 1 rem;
}

.trans-btn {
    background-color: var(--clr-container-bcg);
    color: var(--clr-search-line-bcg);
    padding: .5rem;
    border: 1px solid var(--clr-active-txt);
    border-radius: 25px;
}

.images-container,
.memes-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 0.9375rem;
    padding-bottom: 2.5rem;
    padding-top: 2.5rem;
    padding-inline-start: 1rem;
    padding-inline-end: 1rem;
    justify-content: center;
}

.images-container,
.memes-container {
    min-height: 30rem;
}

.meme-img {
    border-radius: 1.25rem;
    cursor: pointer;
}

.meme-img:hover {
    /* opacity: 70%; */
    outline: 2px solid whitesmoke;
    box-shadow: 0 0 10px 3px whitesmoke;
}

.memes-container H1 {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    color: var(--clr-active-txt);
}

.upload-container {
    background-color: var(--clr-bcg);
    width: 30px;
    height: 30px;
    margin-inline-start: 2rem;
    border-radius: 40px;
    overflow: hidden;
    cursor: pointer;
}

.upload-container label {
    color: var(--clr-white);
    align-self: center;
    font-size: 1.3rem;
    font-weight: 600;
    cursor: pointer;
}

[name="file"] {
    position: absolute;
    color: transparent;
    z-index: -1;
    cursor: pointer;
}

.upload-container:hover {
    background-color: var(--clr-active-txt);
}